body {
    background-color: black;
    color: lightgray;
    font-size: 30px;
    display: flex;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
#hello {
    width: 100vh;
    height: 100vh;
    background-color: black;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#logo1 {
    font-size: 100px;
}
#gramy {
    font-size: 60px;
    color: green;
    padding: 20px;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#kategoria {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 24px;
    min-height: 40px;
}

#plansza {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    min-height: 60px;
}
#szubienica {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#alfabet {
    float: left;
    width: 450px;
    text-align: center;
}
.litera {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}
.litera:hover {
    background-color: #222222;
    color: white;
    border: 3px solid white;
}
.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}
.reset :hover {
    color: white;
}
